.Encadrant_dasboard_ref_entreprise {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 5px solid green;
}

.encadrant_navLists {
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    text-decoration: none;
    padding: 5px;
}


.Encadrant_nav_logo {
    width: 150px;
    height: 70px;
}

.encadrant_nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none
    
}

.encadrant_query_input {
    height: 35px;
    width: 150px;
}

.main_encadrant_container {
    width: 100%;
    height: 80%;
    border: 1px solid black;
}

