.Encadrant_dasboard_ref_entreprise {
    width: 100%;
    min-height: 100vh;
    /* border: 10px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* .stage_id_ref_entreprise {
    
} */