.password-recovery-container {
    border: 1px solid black;
     width: 400px;
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.reset-from {
    
    width: 400px;
    border: 3px solid orange;
    height:  300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.form-reset {
    border: 3px solid black;
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: column;
    padding: 15px;
    top: 100px;
}

.reset-form-title {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-send-receive-otp {
    background-color: green;
    height: 45px;
    width: 50%;
    border-radius: 50px;
    cursor: pointer;
    align-items: end;
}

.reset-info-input {
    padding: 10px;
    width: 100%;
    height: 45px;
}

.send-otp-msg {
    color: green;
    font-size: larger;
    font-weight: bold;
}

/* focus */

.reset-info-input::before {
    border: 1px solid black;

}

.reset-info-input:after {
    border: 1px solid blue;

}

